:root {
    --accent: var(--house-app);
    --accent-dark: var(--house-app-dark);
}

.ignore-div {
    display: contents;
}

html {
    transition:
        background-color var(--transition-time) ease,
        color var(--transition-time) ease;
}
