---
import { Image } from "astro:assets";
import SideBarGroup from "@/navigation/SideBarGroup.vue";
import LocalSwitchThemes from "@/LocalSwitchThemes.vue";
import TitleBarItem from "./TitleBarItem.vue";
import faviconDark from "@assets/icons/dark/favicon.svg";
import faviconLight from "@assets/icons/light/favicon.svg";
---

<nav id="title-bar">
    <div class="left-controls">
        <a href="/" class="icon-link">
            <Image
                src={faviconDark}
                alt="Logo"
                class="icon icon-dark"
                width="30"
                loading="eager"
                fetchpriority="high"
            />
            <Image
                src={faviconLight}
                alt="Logo"
                class="icon icon-light"
                width="30"
                loading="eager"
                fetchpriority="high"
            />
        </a>

        <div class="tabs">
            <TitleBarItem
                id="tb-home"
                to="/"
                data-astro-prefetch
                client:only="vue">Home</TitleBarItem
            >
            <TitleBarItem
                id="tb-bugs"
                to="/bugs-tracker"
                data-astro-prefetch
                client:only="vue">Bugs</TitleBarItem
            >
            <TitleBarItem
                id="tb-blog"
                to="/blog"
                data-astro-prefetch
                client:only="vue">Blog</TitleBarItem
            >
            <TitleBarItem
                id="tb-contact"
                to="/contact"
                data-astro-prefetch
                client:only="vue">Contact</TitleBarItem
            >
        </div>
    </div>
    <div class="right-controls">
        <LocalSwitchThemes client:only="vue" />
    </div>
</nav>
<div class="sidebar">
    <SideBarGroup client:only="vue" />
</div>

<style is:global>
    #title-bar {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: var(--title-bar-height);
        padding-top: 0;

        background-color: var(--background-0);
        border-bottom: var(--divider-thin);
        z-index: 999;
        transition: var(--transitions);
    }

    #title-bar .left-controls,
    #title-bar .right-controls {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #title-bar .left-controls {
        padding-left: 20px;
    }

    #title-bar .right-controls {
        padding-right: 20px;
    }

    #title-bar .tabs {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @media (max-width: 650px) {
        .tabs {
            display: none;
        }
    }

    @media (min-width: 650px) {
        .sidebar {
            display: none;
        }
    }

    #title-bar .icon {
        user-select: none;
        vertical-align: middle;
    }

    #title-bar .icon-dark {
        display: none;
    }

    html.dark #title-bar .icon-light {
        display: none;
    }

    html.dark #title-bar .icon-dark {
        display: inline;
    }
</style>
