---
import MainLayout from "~/layouts/MainLayout.astro";
import { Card, LargeTitleText } from "@origami-systems/ui";
import { allQuestions } from "~/content/faq_questions";
import { ChevronRight } from "@lucide/astro";
---

<MainLayout title="FAQ - The House App">
    <LargeTitleText>Frequently<br />Asked Questions</LargeTitleText>
    <Card class="faq-card">
        {
            allQuestions.map((section) => (
                <details name="faq-item" data-inline>
                    <summary>
                        <span>{section.name}</span>
                        <ChevronRight />
                    </summary>
                    <div class="content">
                        <div class="faq-item">
                            {section.questions.map((i) => (
                                <>
                                    <h3 class="question">{i.q}</h3>
                                    <p class="answer">{i.a}</p>
                                </>
                            ))}
                        </div>
                    </div>
                </details>
            ))
        }
    </Card>
</MainLayout>

<style>
    .faq-card {
        max-width: 80%;
    }

    .faq-item {
        text-align: left;
    }

    .faq-item .question {
        color: var(--text-0);
    }

    .faq-item .answer {
        margin-left: 10px;
        color: var(--text-1);
    }
</style>
